certifi==2017.11.5
cycler==0.10.0
Cython==0.27
decorator==4.2.1
dimod==0.3.1
Django==2.0.2
dwave-qbsolv==0.2.4
image==1.5.19
matplotlib==2.1.2
networkx==2.1
numpy==1.14.1
opencv-python==3.4.0.12
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
